body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: cyan;
  color: white;
}

.container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
